<h1>
<% if @previous %>
	<%= "Services - " + @previous.name %>
	<% else %>
	<%= "All services" %>
	<% end %>
</h1>

<ul>
<% for service in @services  %>
    <li><%= link_to service.name, service_path(service) %></li>
<% end %>
</ul>