<h1><%= "Service Points - " + @previous.name %></h1>

<ul>
<% for service_point in @service_points %>
  <li>
    <% link = if @previous
                if @previous.class == City
                  service_point_city_service_point_path(@previous, service_point)
                else
                  [@previous, service_point]
                end
       else
                service_point
       end
    %>
    <%= link_to service_point.address, link %>
  </li>
<% end %>
</ul>