<% content_for :structural_links do %>
    <li class="nav-header">Events</li>
    <li>
        <%= link_to 'Best Events', best_events_path %>
    </li>
    <li class="active">
        <%= link_to 'All Events', events_path %>
    </li>
<% end %>

<h1>All Events</h1>

<ul>
<% for event in @events %>
    <li><%= link_to event.name, event %></li>
<% end %>
</ul>