<h1>
<% if @previous %>
	<%= "Designers - " + @previous.name %>
	<% else %>
	<%= "All designers" %>
	<% end %>
</h1>

<ul>
<% for designer in @designers %>
  <li>
    <%= link_to designer.name, [@previous, designer] %>
  </li>
<% end %>
</ul>