<h1>Designers#index</h1>
<p>Find me in app/views/designers/index.html.erb</p>

<ul>
<% for designer in @designers %>
  <li>
    <% link = if @previous
                [@previous, designer]
       else
                designer
       end
    %>
    <%= link_to designer.name, link %>
  </li>
<% end %>
</ul>