<h1>
<% if @previous %>
	<%= "Showrooms - " + @previous.name %>
	<% else %>
	<%= "All showrooms" %>
	<% end %>
</h1>

<ul>
  <% for showroom in @showrooms %>
      <li>
        <%= link_to showroom.name, showroom %>
      </li>
  <% end %>
</ul>