<% content_for :structural_links do %>
    <li class="nav-header">Company</li>
    <li>
      <%= link_to 'General Info', company_path %>
    </li>
    <li class="active">
      <%= link_to 'Tradition & Technology', :action => :show_more %>
    </li>
<% end %>

<div class="row">
  <div class="span5">
    <h2>Tradition & Technology</h2>

    <p>Brandit collaborates with local metal artisans in a 30 years experieced team, working for international leading companies. Maurizio Barison in the 80's was bieffe and bieffeplast prototypes developer and worked with the best worldwide Designers. In the early 90's was Zucor Tecnigrafi Chief Technical Officer.</p>

    <p>Brandit produces furniture, structures and mechanisms dedicated to furniture field, with a complete work on components and products development, assembling and packaging. Technology preserved with passion steadily searching for innovative solutions. Timeless objects, where each single piece keeps its uniqueness through handmade details skilfully combined with the industrial process.</p>
  </div>
  <div class="span3" style="float: right">
    <%= image_tag 'officine.jpg' %>
  </div>
</div>