<% content_for :structural_links do %>
    <li class="nav-header">Company</li>
    <li class="active">
      <%= link_to 'General Info', company_path %>
    </li>
    <li>
      <%= link_to 'Tradition & Technology', :action => :show_more %>
    </li>
<% end %>