<h1>ProductStyles#index</h1>
<p>Find me in app/views/product_styles/index.html.erb</p>

<ul>
<% for style in @styles  %>
    <li><%= link_to style.name, product_style_products_url(style) %></li>
<% end %>
</ul>