<h1>
<% if @previous %>
	<% if @previous.class == Shop%>
		<%= "Products - " + @previous.address %>
	<% else %>
		<%= "Products - " + @previous.name %>
	<% end %>
	<% else %>
	<%= "Top Design Products" %>
	<% end %>
</h1>

<ul>
<% for product in @products %>
  <li>
    <%= link_to product.name, [@previous, product]%>
  </li>
<% end %>
</ul>